<h1>Stupid coaching</h1>
<%= link_to 'Ask', ask_path %>
<br>
<br>
<%= params[:question] %>
<h2>-You</h2>
<br>
<% if params[:question] == 'I am going to work' %>
<p>Great!</p>
<% elsif params[:question][-1] == '?' %>
<p>Silly question, get dressed and go to work!</p>
<% else %>
<p>I don't care, get dressed and go to work!</p>
<% end %>
<h2>-Your coach</h2>
